.detail_container{
  width: 100%;
}
.detail_container .detail_wrapper{
  width: 1200px;
  height: 704px;
  margin: 40px auto 0;
  padding-bottom: 60px;
}
.detail_container .detail_wrapper .preview{
  width: 540px;
  height: 704px;
  float: left;
}
.detail_container .detail_wrapper .preview .preview_aBtn{
  display: block;
  width: 540px;
  height: 540px;
}
.detail_container .detail_wrapper .preview .preview_wrapper{
  width: 540px;
  height: 540px;
}
.detail_container .detail_wrapper .preview .preview_small{
  width: 540px;
  padding: 20px 0 30px;
  background: #f5f5f5;
  position: relative;
}
.detail_container .detail_wrapper .preview .preview_small .preview_smallPrev{
  display: block;
  position: absolute;
  width:21px;
  height: 41px;
  top: 50%;
  left: 5px;
  margin-top: -21px;
  background-image: url(/images/detail/preview_smallBtn.png);
  background-position: 0 -41px;
}
.detail_container .detail_wrapper .preview .preview_small .preview_smallNext{
  display: block;
  position: absolute;
  width:21px;
  height: 41px;
  top: 50%;
  right: 5px;
  margin-top: -21px;
  background-image: url(/images/detail/preview_smallBtn.png);
  background-position: -21px -41px;
}
.detail_container .detail_wrapper .preview .preview_small_wrapper{
  width: 470px;
  height: 110px;
  margin: 0 auto;
  padding: 2px;
  overflow: hidden;
}
.detail_container .detail_wrapper .preview .preview_small_wrapper .preview_list{
  width: 482px;
  height: 110px;
}
.detail_container .detail_wrapper .preview .preview_small_wrapper .preview_list li{
  float: left;
  width: 110px;
  height: 110px;
  margin-right: 10px;
}
.detail_container .detail_wrapper .preview .preview_small_wrapper .preview_list li:hover{
    border:1px solid pink;
}
.detail_container .detail_wrapper .preview .preview_small_wrapper .preview_list li .preview_smallA{
  display: inline-block;
  width: 110px;
  height: 110px;
}
.detail_container .detail_wrapper .preview .preview_small_wrapper .preview_list li img{
  width: 100%;

}
.detail_container .detail_wrapper .introduce{
  width: 580px;
  height: 607px;
  float: right;
}
.detail_container .detail_wrapper .introduce .tittle{
  width: 100%;
  line-height: 40px;
  font-size: 24px;
  color: #45515e;
}
.detail_container .detail_wrapper .introduce .desc{
  width: 100%;
  padding: 8px  0 24px;
  font-size: 14px;
  color: #b5b5b5;
  border-bottom: 1px dotted #b3a3a3;
}
.detail_container .detail_wrapper .introduce .desc p{
  line-height: 24px;
}
.detail_container .detail_wrapper .introduce .specific{
  width: 100%;
  height: 131px;
  padding-top: 24px;
  border-bottom: 1px dotted #b3a3a3;
}
.detail_container .detail_wrapper .introduce .specific .section1{
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
}
.detail_container .detail_wrapper .introduce .specific .section1 .left{
  width: 50px;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  color: #505050;
  float: left;
}
.detail_container .detail_wrapper .introduce .specific .section1 .specific_pound{
  width: 520px;
  height: 45px;
  float: right;
}
.detail_container .detail_wrapper .introduce .specific .section1 .specific_pound .spec{
  display: block;
  width: 129px;
  height: 45px;
  margin-bottom: 1px;
  line-height: 45px;
  text-align: center;
  border-left:1px solid #fff;
  font-size: 16px;
  background: #f5f5f5;
  cursor: pointer;
  float: left;
}
.detail_container .detail_wrapper .introduce .specific .section2{
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
}
.detail_container .detail_wrapper .introduce .specific .section2 .price{
  width: 50px;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  color: #505050;
  float: left;
}
.detail_container .detail_wrapper .introduce .specific .section2 .specific_price{
  width: 520px;
  height: 45px;
  float: right;
  color: #fff;
  background: #e9546b;
  position: relative;
}
.detail_container .detail_wrapper .introduce .specific .section2 .specific_price .oldPrice{
  float: left;
  margin-top: 6px;
  margin-left: 45px;
  margin-right: -15px;
  font-size: 18px;
  line-height: 45px;
  text-decoration: line-through;
}
.detail_container .detail_wrapper .introduce .specific .section2 .specific_price .newPrice{
  float: left;
  margin-left: 45px;
  font-size: 18px;
  line-height: 45px;
}
.detail_container .detail_wrapper .introduce .specific .section2 .specific_price .newPrice i{
  font-size: 28px;
  font-style: normal;
}
.detail_container .detail_wrapper .introduce .specific .section2 .specific_price .name{
  float: right;
  margin-right: 66px;
  font-size: 16px;
  line-height: 45px;
}
.detail_container .detail_wrapper .introduce .specific .section2 .specific_price .radio{
  display: block;
  position: absolute;
  top: 11px;
  right: 25px;
  width: 24px;
  height: 24px;
  background-image: url(/images/detail/radio.png);
  background-size: cover;
  background-position: 50%;
}
.detail_container .detail_wrapper .introduce .tips{
  width: 100%;
  height: 60px;
  padding: 10px 0;
  border-bottom: 1px dotted #b3a3a3;
}
.detail_container .detail_wrapper .introduce .tips  li{
  position: relative;
  float: left;
  width: 290px;
  line-height: 30px;
  color: #b3b3b3;
}
.detail_container .detail_wrapper .introduce .tips li p{
  padding-left: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.detail_container .detail_wrapper .introduce .amout{
  width: 100%;
  height: 35px;
  padding: 27px 0 ;
}
.detail_container .detail_wrapper .introduce .amout .num{
  float: left;
  width: 50px;
  height: 35px;
  line-height: 35px;
  color: #505050;
}
.detail_container .detail_wrapper .introduce .amout .content{
  position: relative;
  float: left;
  width: 230px;
  height: 35px;
}
.detail_container .detail_wrapper .introduce .amout .content .btn_sub{
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 25px;
    height: 25px;
    background-image: url(/images/detail/btn_sub.png);
    background-position: 50%;
    border-radius: 50%;
}
.detail_container .detail_wrapper .introduce .amout .content .content-wrapper{
  width: 138px;
  height: 33px;
  margin:0 auto;
  border:1px solid #45515e;
}
.detail_container .detail_wrapper .introduce .amout .content .content-wrapper .text_amout{
  border:none;
  outline: none;
  width: 138px;
  height: 33px;
  line-height: 33px;
  text-align: center;
}
.detail_container .detail_wrapper .introduce .amout .content .btn_add{
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  background-image: url(/images/detail/btn_add.png);
  background-position: 50%;
  border-radius: 50%;
}
.detail_container .detail_wrapper .introduce .addons{
  position: relative;
  width: 100%;
  height: 59px;
  margin-bottom: 55px;

}
.detail_container .detail_wrapper .introduce .addons ul li{
  position: relative;
  width: 100%;
  height: 61px;
  padding: 8px 0;
  border-bottom: 1px dotted #b3a3a3;
  cursor: pointer;
}
.detail_container .detail_wrapper .introduce .addons ul li .img{
  float: left;
  display: block;
  width: 60px;
  height: 60px;
  margin-left: 54px;
  border: 1px solid #dcdcdc;
}
.detail_container .detail_wrapper .introduce .addons ul li .img img{
  width: 100%;
}
.detail_container .detail_wrapper .introduce .addons ul li .lihe_content{
  float: right;
  width: 448px;
  height: 62px;
}
.detail_container .detail_wrapper .introduce .addons ul li .lihe_content p{
  line-height: 62px;
  font-size: 14px;
  color: #b3b3b3;

}
.detail_container .detail_wrapper .introduce .addons ul li .lihe_content .lihe_price{
  position: absolute;
  top: 10px;
  right: 30px;
  width: 78px;
  line-height: 62px;
  text-align: center;
  color: #e9546b;
}
.detail_container .detail_wrapper .introduce .option{
  width: 100%;
  height: 50px;
}
.detail_container .detail_wrapper .introduce .option .a_favor{
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  border-radius: 2px;
  color: #fff;
  width: 40px;
  margin-left: 10px;
}
.detail_container .detail_wrapper .introduce .option .a_favor .aixin{
  display: block;
  width: 40px;
  height: 34px;
  background-image: url(/images/detail/aixin.png);
  background-size: 34px 31px;
  background-position: 50%;
  background-repeat: no-repeat;
}
.detail_container .detail_wrapper .introduce .option .a_favor .txt{
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #c8c8c8;
}
.detail_container .detail_wrapper .introduce .option .add_basket{
  margin-left: 20px;
  background: #fb657e;
  display: block;
  float: left;
  width: 230px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 2px;
  font-size: 18px;
  color: #fff;
}
.detail_container .detail_wrapper .introduce .option .add_basket:hover{
  text-decoration: underline;
}
.detail_container .detail_wrapper .introduce .option .buy{
  margin-left: 20px;
  background: #fb657e;
  display: block;
  float: left;
  width: 230px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 2px;
  font-size: 18px;
  color: #fff;
}
.detail_container .detail_wrapper .introduce .option .buy:hover{
  text-decoration: underline;
}
.product_detail{
  width: 1200px;
  height: 2957px;
  margin:  0 auto;
  padding-bottom: 50px;
}
.product_detail .header{
  width: 100%;
  height: 47px;
  border-bottom:1px solid #e9546b;
}
.product_detail .header .txt_product{
  width: 160px;
  height: 42px;
  float: left;
  line-height: 42px;
  border-bottom: 4px solid #fff;
  font-size: 16px;
  text-align: center;
  color: #e9546b;
  border-bottom-color: #e9546b;
}
.product_detail1{
  width:100%;
 height: 2910px;
}
.product_detail1Wrapper{
  width: 100%;
  height: 620px;
  padding: 50px 0 40px;

}
.product_detail1Wrapper .left{
  float: left;
  width: 650px;
  height: 620px;
}
.product_detail1Wrapper .left .img{
  width: 650px;
  height: 400px;
  overflow: hidden;
}
.product_detail1Wrapper .left .img img{
  width: 100%;
  height: 100%;
}
.product_detail1Wrapper .left .left_text{
  width: 590px;
  height: 170px;
  padding: 25px 30px;
  background-color: #fafafa;
}
.product_detail1Wrapper .left .left_text li{
  width: 100%;
  height: 34px;
  line-height: 34px;
  color: #505050;
}
.product_detail1Wrapper .left .left_text .left_tittle{
  float: left;
  width: 80px;
  text-align: right;
  font-weight: 700;
}
.product_detail1Wrapper .left .left_text .left_content{
  float: right;
  width: 490px;
}
.product_detail1Wrapper .left .left_text .left_content .red{
  display: inline-block;
  float: left;
  position: relative;
  width: 18px;
  height: 22px;
  top: 4px;
  margin-right: 5px;
  background-image: url(/images/detail/red_sweet.png);
}
.product_detail1Wrapper .left .left_text .left_content span{
  display: inline-block;
  float: left;
  position: relative;
  top: 4px;
  width: 18px;
  height: 22px;
  margin-right: 5px;
  background-image:url(/images/detail/sweet.png);
}
.product_detail1Wrapper .right{
  width: 450px;
  float: right;
}
.product_detail1Wrapper .right .img{
  width: 450px;
  height: 310px;
  margin-bottom: 20px;
  overflow: hidden;
}
.product_detail1Wrapper .right .img img{
  width: 100%;
}
.product_detail1Wrapper .right ul{
  width: 450px;
  height: 50px;

}
.product_detail1Wrapper .right ul  li{
  float: left;
  width: 225px;
  height: 30px;
  margin-bottom: 20px;
}
.product_detail1Wrapper .right ul  li .xinxilan_flags{
  float: left;
  width: 50px;
  height: 30px;
  overflow: hidden;
  background-image: url(/images/detail/xinxilan.jpg);
  background-size: cover;
}
.product_detail1Wrapper .right ul  li p{
  float: right;
  width: 155px;
  line-height: 30px;
  color: #828282;
}
.product_detail1Wrapper .right ul  li .meiguo_flags{
  float: left;
  width: 50px;
  height: 30px;
  overflow: hidden;
  background-image: url(/images/detail/meiguo.jpg);
  background-size: cover;
}
.product_detail1Wrapper .right .brand{
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
}
.product_detail1Wrapper .right .brand .brand_left{
  float: left;
  width: 138px;
  height: 78px;
  border: 1px solid #dcdcdc;
}
.product_detail1Wrapper .right .brand .brand_right{
  float: right;
  width: 290px;
  height: 80px;
  position: relative;
}
.product_detail1Wrapper .right .brand .brand_right p{
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom:0;
  width: 100%;
  margin: auto;
  display: table;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  color: #828282;

}
.product_detail .hierarchy{
  width: 100%;
  height: 510px;
  position: relative;
  margin-top: 60px;
  background-color: #fafafa;
}
.product_detail .hierarchy .top{
  position: absolute;
  top: -70px;
  left: 50%;
  width: 370px;
  height: 170px;
  margin-left: -175px;
}
.product_detail .hierarchy .bottom{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 750px;
  height: 410px;
  margin-left: -375px;
  overflow: hidden;
}
.product_detail .descr{
  width: 100%;
  padding: 50px 0 60px;
  height: 1520px;
}
.product_detail .descr li{
  height: 480px;
  margin-bottom: 40px;
}
.product_detail .descr li .li1_left{
  float: left;
  width: 810px;
  height: 480px;
}
.product_detail .descr li .li1_left img{
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.product_detail .descr li .li1_right{
  float: right;
  position: relative;
  width: 390px;
  height: 480px;
  font-size: 14px;
  color: #838383;
  background-color: #fafafa;
  }
  .product_detail .descr li .li2_right img{
  	width: 100%;
  	height: auto;
  	max-width: 100%;
  	max-height: 100%;
  }
.product_detail .descr li .li2_right .li1_rightWrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 392px;
  margin:auto;
  display: table;
  text-align: center;
}
.product_detail .descr li .li1_right .li1_rightWrapper p{
  padding: 10px 30px;
  line-height: 24px;
  text-align: left;
}


.product_detail .descr li .li2_left{
  float: right;
  width: 810px;
  height: 480px;
}
.product_detail .descr li .li2_right{
  float: left;
  position: relative;
  width: 390px;
  height: 480px;
  font-size: 14px;
  color: #838383;
  background-color: #fafafa;
  }
  .product_detail .descr li .li2_right .li1_rightWrapper p{
    padding: 10px 30px;
    line-height: 24px;
    text-align: left;
  }
